In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import font_manager
import sklearn
import pprint
import re
from sklearn.model_selection import train_test_split


import warnings
warnings.filterwarnings('ignore')

font_fname = 'C:/Windows/Fonts/malgun.ttf'
font_family = font_manager.FontProperties(fname=font_fname).get_name()

plt.rcParams["font.family"] = font_family
plt.rcParams["axes.unicode_minus"] = False


%matplotlib inline

In [65]:
price_df = pd.read_excel('부동산데이터_수도권_202308.xlsx')

In [66]:
check_col = ['매매하위평균가', '매매상위평균가', '매매/전세가', '매매호가', '전세호가']

price_df.dropna(subset=check_col ,how='all', inplace=True)

In [4]:
price_df.shape

(52186, 58)

용인처인구 -> 용인시

In [67]:
city_cols = ['화성시','오산시','용인시','평택시','수원시','안성시', '용인처인구']
filtered_df = price_df[price_df['법정동주소'].str.contains('|'.join(city_cols)) | price_df['도로명주소'].str.contains('|'.join(city_cols))]

In [68]:
filtered_df.shape

(7078, 58)

In [69]:
filtered_df[['법정동주소','도로명주소']]

                        법정동주소                      도로명주소
71119   경기도 수원시 권선구 고색동 306-1      경기도 수원시 권선구 고현로5번길 25
71120   경기도 수원시 권선구 고색동 306-1      경기도 수원시 권선구 고현로5번길 25
71121   경기도 수원시 권선구 고색동 306-1      경기도 수원시 권선구 고현로5번길 25
71122  경기도 수원시 권선구 고색동 886-83  경기도 수원시 권선구 매송고색로673번길 11
71123  경기도 수원시 권선구 고색동 886-83  경기도 수원시 권선구 매송고색로673번길 11
...                       ...                        ...
94110    경기도 화성시 향남읍 하길리 1464      경기도 화성시 상신하길로328번길 21
94111    경기도 화성시 향남읍 하길리 1464      경기도 화성시 상신하길로328번길 21
94112    경기도 화성시 향남읍 하길리 1464      경기도 화성시 상신하길로328번길 21
94113    경기도 화성시 향남읍 하길리 1464      경기도 화성시 상신하길로328번길 21
94115     경기도 화성시 향남읍 행정리 475            경기도 화성시 행정동로 83

[7078 rows x 2 columns]

In [70]:
house_df = pd.read_csv('apartment_rail_v7.csv')

In [71]:
house_ols_df = house_df.copy()
house_ols_df['입주예정일'] = house_df['입주예정일'].astype(str).str[:4]
house_ols_df['대형건설사'] = house_ols_df['대형건설사'].apply(lambda x: True if x == 'YES' else False)
house_ols_df['법정동주소'] = house_ols_df['법정동주소'].astype(str)

In [72]:
filtered_house_df = house_ols_df[house_ols_df['법정동주소'].str.contains('|'.join(city_cols))]

In [32]:
filtered_house_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805 entries, 37 to 3020
Data columns (total 42 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   아파트명         805 non-null    object
 1   법정동주소        805 non-null    object
 2   위도           805 non-null    float64
 3   경도           805 non-null    float64
 4   세대수          805 non-null    int64
 5   임대세대수        742 non-null    float64
 6   최고층          801 non-null    float64
 7   최저층          792 non-null    float64
 8   최대공급면적       805 non-null    float64
 9   최소공급면적       805 non-null    float64
 10  총아파트동수       801 non-null    float64
 11  용적률          457 non-null    float64
 12  건폐율          415 non-null    float64
 13  세대평균_주차대수    793 non-null    float64
 14  공급면적         805 non-null    float64
 15  전용면적         805 non-null    float64
 16  전용율          805 non-null    float64
 17  방수           793 non-null    float64
 18  욕실수          793 non-null    float64
 19  현관구조         805 non-null    object
 20  입주예정일        805 non-null    object
 21  공급액(만원)      805 non-null    int64
 22  대형건설사        805 non-null    bool
 23  location     805 non-null    object
 24  지하철역         805 non-null    object
 25  지하철역_거리(km)  805 non-null    float64
 26  1차병원         805 non-null    int64
 27  2차병원         805 non-null    int64
 28  3차병원         805 non-null    int64
 29  공원           805 non-null    int64
 30  대학           805 non-null    int64
 31  역사명          805 non-null    object
 32  노선명_리스트      805 non-null    object
 33  구            805 non-null    object
 34  광역시도         805 non-null    object
 35  소매           805 non-null    int64
 36  음식           805 non-null    int64
 37  교육           805 non-null    int64
 38  장례식장         805 non-null    int64
 39  보건의료         805 non-null    int64
 40  유원지오락        805 non-null    int64
 41  총인구수         805 non-null    int64
dtypes: bool(1), float64(17), int64(14), object(10)
memory usage: 264.9+ KB

In [75]:
merged_df = filtered_df[filtered_df['법정동주소'].isin(filtered_house_df['법정동주소']) |
                       filtered_df['도로명주소'].isin(filtered_house_df['법정동주소'])]

In [76]:
merged_df.shape

(105, 58)

In [77]:
merged_df2 = pd.merge(filtered_df, filtered_house_df, on=['위도', '경도'], how='inner')

In [78]:
filtered_df['lat_lon'] = list(zip(filtered_df['위도'], filtered_df['경도']))
filtered_house_df['lat_lon'] = list(zip(filtered_house_df['위도'], filtered_house_df['경도']))

# filtered_df와 filtered_house_df의 'lat_lon' 컬럼을 기준으로 인덱스 매칭
index_matches = filtered_df.index[filtered_df['lat_lon'].isin(filtered_house_df['lat_lon'])]
filtered_df.drop('lat_lon', axis=1, inplace=True)
filtered_house_df.drop('lat_lon', axis=1, inplace=True)

In [79]:
index_matches

Int64Index([72208, 72210, 72212, 72213, 72624, 72625, 72626, 72627, 72629,
            72630, 72632, 72633, 72634, 73034, 73035, 73036, 73037, 73038,
            73039, 73040, 73459, 73462, 73465, 73467, 73889, 73890, 73892,
            73895, 73897, 74239, 74240, 74241, 74242, 74243, 74244, 74245,
            74246, 74247, 83069, 85025, 85026, 85027, 85028, 85060, 85061,
            85062, 85064, 85067, 85068, 85069, 85070, 85071, 85072, 89222,
            89233, 89234, 89235, 89236, 89237, 89238, 89276, 89277, 89278,
            89279, 90154, 91222, 91223, 91224, 92054, 92114, 92115, 92116,
            92758, 92759, 92760, 92761, 92788, 92789, 92790, 93592],
           dtype='int64')

In [86]:
merged_df3 = filtered_df.loc[index_matches]

In [83]:
merged_df.shape

(105, 58)

In [87]:
merged_df3.shape

(80, 58)

In [88]:
combined_df = pd.concat([merged_df, merged_df3]).drop_duplicates()

In [89]:
combined_df.shape

(105, 58)

In [90]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52186 entries, 4 to 106016
Data columns (total 58 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   타입         52186 non-null  object
 1   아파트명       52186 non-null  object
 2   면적         52186 non-null  object
 3   법정동주소      52186 non-null  object
 4   도로명주소      52186 non-null  object
 5   위도         52186 non-null  float64
 6   경도         52186 non-null  float64
 7   세대수        52186 non-null  int64
 8   임대세대수      52186 non-null  int64
 9   영구임대세대수    52186 non-null  int64
 10  국민임대세대수    52186 non-null  int64
 11  민간임대세대수    52186 non-null  int64
 12  공공임대세대수    52186 non-null  int64
 13  장기임대세대수    52186 non-null  int64
 14  기타임대세대수    52186 non-null  int64
 15  최고층        52186 non-null  int64
 16  최저층        52186 non-null  int64
 17  사용승인일      52178 non-null  float64
 18  최대공급면적     52186 non-null  float64
 19  최소공급면적     52186 non-null  float64
 20  총아파트동수     52186 non-null  int64
 21  매매         52186 non-null  int64
 22  전세         52186 non-null  int64
 23  월세         52186 non-null  int64
 24  단기         52186 non-null  int64
 25  용적률        52186 non-null  int64
 26  건폐율        52186 non-null  int64
 27  주차대수       52186 non-null  int64
 28  세대평균_주차대수  52186 non-null  float64
 29  건설사        49959 non-null  object
 30  난방         52186 non-null  object
 31  난방연료       52119 non-null  object
 32  공급면적       52186 non-null  float64
 33  전용면적       52186 non-null  float64
 34  전용율        52186 non-null  int64
 35  방수         52186 non-null  object
 36  욕실수        52186 non-null  object
 37  해당면적_세대수   52186 non-null  int64
 38  현관구조       52186 non-null  object
 39  재산세        40076 non-null  float64
 40  재산세합계      40076 non-null  float64
 41  지방교육세      40076 non-null  float64
 42  재산세_도시지역분  40076 non-null  float64
 43  종합부동산세     40076 non-null  float64
 44  결정세액       40076 non-null  float64
 45  농어촌특별세     40076 non-null  float64
 46  매매하위평균가    41117 non-null  float64
 47  매매상위평균가    41117 non-null  float64
 48  매매/전세가     41117 non-null  float64
 49  겨울관리비      31136 non-null  float64
 50  여름관리비      31136 non-null  float64
 51  매매호가       40469 non-null  object
 52  전세호가       23086 non-null  object
 53  월세호가       15373 non-null  object
 54  초등학교_학군정보  51722 non-null  object
 55  초등학교_설립정보  51722 non-null  object
 56  초등학교_남학생수  51722 non-null  float64
 57  초등학교_여학생수  51722 non-null  float64
dtypes: float64(22), int64(20), object(16)
memory usage: 23.5+ MB

In [106]:
# 컬럼 값 변환 함수 정의
def convert_to_integer_range(value):
    if pd.notna(value):  # NaN이 아닌 경우에만 변환 적용
        if '~' in value:
            min_value, max_value = value.split('~')
            min_value = int(min_value.replace('억', '').replace(',', ''))
            max_value = int(max_value.replace('억', '').replace(',', ''))
            return f"{min_value:,} ~ {max_value:,}"
        else:
            return f"{int(value.replace('억', '').replace(',', '')):,}"
    else:
        return value  # NaN 값은 그대로 반환

# 매매호가 컬럼의 모든 값을 변환 적용
price_df['매매호가_분리'] = price_df['매매호가'].apply(convert_to_integer_range)

In [107]:
price_df['매매호가_분리']

4              17 ~ 18
5         188,000 ~ 21
6              20 ~ 22
7              22 ~ 25
8         235,000 ~ 28
              ...
106012          24,000
106013          26,000
106014      3 ~ 35,000
106015             NaN
106016             NaN
Name: 매매호가_분리, Length: 52186, dtype: object

In [99]:
list(price_df['매매호가'].unique())

['17억~18억',
 '18억 8,000~21억',
 '20억~22억',
 '22억~25억',
 '23억 5,000~28억',
 '25억~28억 5,000',
 nan,
 '26억~27억',
 '29억 5,000~37억',
 '30억~35억',
 '33억~39억',
 '39억',
 '40억~41억',
 '41억',
 '41억~41억 5,000',
 '31억~37억',
 '69억',
 '25억~30억',
 '30억~32억',
 '32억~35억',
 '35억~36억',
 '12억 4,000~13억 7,000',
 '16억',
 '23억~24억',
 '30억',
 '22억',
 '21억 9,000',
 '39억~42억',
 '39억 5,000~43억',
 '22억 5,000~24억',
 '25억 8,000~27억',
 '28억~29억',
 '19억~20억',
 '20억~21억',
 '23억 5,000~25억',
 '26억 5,000~27억',
 '19억 4,000~19억 5,000',
 '20억 5,000~22억',
 '24억~25억',
 '27억',
 '18억 5,000~19억',
 '25억',
 '23억 5,000~24억',
 '23억 5,000',
 '23억 5,000~26억',
 '31억',
 '33억',
 '36억 5,000~40억',
 '36억 5,000~38억',
 '11억~13억',
 '13억 5,000~15억',
 '16억~17억',
 '9억 8,000~10억 5,000',
 '11억 8,000~13억',
 '13억 7,000~14억 7,000',
 '23억 7,000~28억',
 '24억~28억',
 '24억~27억',
 '17억',
 '17억~17억 5,000',
 '20억 5,000~24억 5,000',
 '21억~22억',
 '20억 7,000~23억',
 '26억 5,000~29억',
 '29억 5,000',
 '28억 4,000~32억',
 '28억~30억 5,000',
 '28억~30억',
 '28억 5,000~30억',
 '36억 5,000~37억 5,000',
 '36억~37억 5,000',
 '41억 5,000~43억',
 '43억~48억',
 '60억',
 '19억 5,000~22억',
 '19억 5,000~20억',
 '19억~21억',
 '20억 5,000~21억',
 '26억~28억',
 '28억',
 '27억~27억 5,000',
 '27억~30억',
 '32억 5,000~33억',
 '34억~36억 5,000',
 '33억~37억',
 '30억~37억',
 '32억~36억',
 '38억 5,000~41억',
 '38억~40억',
 '38억~43억',
 '43억~45억',
 '8억',
 '12억',
 '11억',
 '30억~33억',
 '33억~35억 5,000',
 '18억~18억 5,000',
 '21억~24억',
 '19억~22억',
 '20억 5,000',
 '15억 5,000',
 '9억 8,000',
 '10억',
 '22억~24억',
 '29억 5,000~30억',
 '34억~35억',
 '25억~25억 5,000',
 '29억 5,000~31억 5,000',
 '31억 5,000',
 '36억~40억',
 '36억~39억 5,000',
 '18억',
 '16억 5,000~17억',
 '21억',
 '3억 8,000',
 '5억 8,000',
 '5억 5,000',
 '13억~15억',
 '15억 5,000~16억 5,000',
 '13억~13억 5,000',
 '14억',
 '20억 5,000~23억',
 '18억~19억 5,000',
 '22억~26억',
 '37억~42억',
 '38억',
 '43억',
 '18억~20억',
 '19억 5,000',
 '18억~19억',
 '20억',
 '13억 5,000',
 '13억 2,000',
 '8억 4,900~10억 5,000',
 '16억 5,000~20억',
 '20억~26억',
 '12억 4,000~12억 6,000',
 '15억 7,000~17억 2,000',
 '8억 3,000',
 '58억',
 '14억 3,000',
 '14억 5,000',
 '15억',
 '12억 8,000~14억 5,000',
 '13억 5,000~14억 7,000',
 '1억 7,500',
 '11억 8,000~13억 8,000',
 '12억 9,000~13억 3,815',
 '17억 1,926~19억 5,000',
 '14억~14억 9,985',
 '16억 5,000',
 '13억 5,000~15억 3,000',
 '15억 3,000',
 '23억',
 '14억 9,000~18억 5,000',
 '10억 6,000~14억',
 '5억 3,000',
 '5억 2,000',
 '5억',
 '4억 5,000',
 '4억 2,000~4억 3,000',
 '4억',
 '4억 1,000',
 '6억 7,000',
 '7억 5,000',
 '19억 2,000~25억',
 '35억',
 '10억 5,000',
 '13억',
 '13억 5,000~14억',
 '16억 9,000',
 '3억 9,000~4억 6,000',
 '26억 6,602~29억 6,500',
 '37억 4,900~42억 5,000',
 '38억 9,700~41억 6,000',
 '37억 2,300~41억 600',
 '66억 5,400',
 '62억 7,347~65억 1,000',
 '78억~110억',
 '118억',
 '13억 8,000~15억',
 '4억 9,000',
 '17억~19억',
 '22억 5,000',
 '22억 5,000~24억 5,000',
 '29억~30억',
 '28억 4,000~31억',
 '15억~17억',
 '6억 5,000',
 '12억 5,000~13억 5,000',
 '9억 5,000',
 '8억 5,000~9억 5,000',
 '12억 5,000',
 '9억 9,000~13억 5,000',
 '12억 8,000~13억 5,000',
 '18억 5,000',
 '2억 1,000~2억 5,000',
 '38억 5,000~45억',
 '38억~45억',
 '50억',
 '52억~55억',
 '32억 5,000',
 '31억 5,000~31억 8,000',
 '33억~35억',
 '37억~39억',
 '3억 5,000~3억 7,000',
 '3억 6,000',
 '5억~5억 2,000',
 '3억 4,000',
 '3억 2,000~3억 5,000',
 '19억 5,000~21억',
 '27억~28억',
 '31억~32억',
 '31억~32억 5,000',
 '37억~40억',
 '25억 5,000~27억 5,000',
 '21억 5,000~24억',
 '29억',
 '45억~50억',
 '25억~27억',
 '9억 8,000~10억',
 '9억 1,000',
 '9억',
 '8억 9,000',
 '22억 4,000~22억 5,000',
 '22억 8,000',
 '31억~33억',
 '31억~31억 5,000',
 '42억',
 '26억',
 '22억~23억',
 '25억~28억',
 '16억~17억 5,000',
 '21억 5,000~23억',
 '29억~32억',
 '15억 5,000~15억 6,000',
 '43억~44억',
 '47억~48억',
 '32억~33억',
 '32억~34억',
 '36억~39억',
 '35억~39억',
 '48억~50억',
 '45억~51억',
 '48억~53억',
 '25억 8,000~26억',
 '18억 9,000',
 '31억 4,000',
 '39억~45억',
 '47억',
 '2억 3,000',
 '2억 7,000~2억 8,000',
 '4억 2,000',
 '19억~19억 5,000',
 '8억 5,000',
 '2억 9,000~3억',
 '11억 5,000',
 '8억 2,000~11억',
 '15억 3,000~16억 7,280',
 '21억 9,000~27억 4,000',
 '24억 5,000~28억 4,000',
 '3억 3,500~3억 4,000',
 '3억 3,500',
 '3억 8,500~4억 3,000',
 '4억 2,000~4억 6,000',
 '9억~9억 9,000',
 '37억',
 '17억 3,000~17억 5,000',
 '17억 5,000',
 '27억 2,000~29억',
 '35억 3,000~37억',
 '49억',
 '52억',
 '39억 5,000',
 '5억 4,000',
 '6억 2,000',
 '28억~31억',
 '35억~39억 5,000',
 '27억~29억',
 '16억~16억 5,000',
 '15억~19억',
 '19억~19억 700',
 '18억 5,000~21억',
 '17억 7,000',
 '26억~29억 5,000',
 '26억~30억',
 '28억 5,000~29억',
 '2억 4,000~2억 5,000',
 '2억 6,000~2억 8,000',
 '3억 1,000',
 '20억 5,000~25억',
 '18억 3,000~19억',
 '28억~28억 5,000',
 '27억 9,000~29억',
 '36억~42억',
 '30억~34억',
 '47억 5,000~53억',
 '9억 7,200',
 '9억 6,200',
 '9억 2,800~12억 5,000',
 '17억 8,000~19억 5,000',
 '28억~36억',
 '68억',
 '8억 2,000~8억 4,000',
 '20억 7,000~22억 5,000',
 '20억~20억 5,000',
 '26억 5,000',
 '20억 4,000~23억',
 '24억 5,000~27억 5,000',
 '27억~29억 5,000',
 '36억',
 '32억',
 '14억 5,000~16억',
 '24억',
 '21억~22억 5,000',
 '16억 2,000~16억 5,000',
 '18억 5,000~20억',
 '22억 8,000~26억',
 '26억 5,000~30억',
 '21억 5,000',
 '24억~26억',
 '34억',
 '58억~60억',
 '24억~29억',
 '15억 5,000~15억 8,000',
 '17억 5,000~19억',
 '15억 8,000~17억',
 '16억~18억',
 '16억~22억',
 '22억~27억',
 '23억~27억',
 '29억 5,000~35억',
 '8억 2,000',
 '19억~24억',
 '23억 2,000~25억',
 '21억 5,000~25억',
 '4억 6,000',
 '4억 7,000',
 '40억',
 '34억~39억',
 '40억~50억',
 '55억~56억',
 '93억~100억',
 '67억~75억',
 '93억',
 '22억 7,000~23억',
 '35억~37억',
 '46억',
 '50억~51억',
 '37억~41억',
 '45억',
 '40억~45억',
 '42억~47억',
 '50억~55억',
 '54억 7,000',
 '68억~70억',
 '75억',
 '50억~52억',
 '57억~65억',
 '69억~70억',
 '13억 8,000',
 '14억 8,000',
 '15억 9,000~19억',
 '17억 3,000~18억',
 '15억 4,500~15억 5,000',
 '4억 3,500~5억',
 '4억 1,000~4억 5,000',
 '4억 5,000~5억 1,000',
 '7억',
 '24억 9,000~25억 5,000',
 '34억 5,000~35억',
 '43억 5,000',
 '63억',
 '25억~26억',
 '31억~35억',
 '38억~48억',
 '50억~60억',
 '19억',
 '47억~55억',
 '23억~25억',
 '21억~21억 5,000',
 '27억 5,000',
 '20억 5,000~24억',
 '33억~45억',
 '17억 4,000~18억',
 '23억 4,000~25억',
 '32억 9,000~35억',
 '48억',
 '74억~80억',
 '14억~15억',
 '24억~24억 5,000',
 '22억 8,000~24억',
 '28억 5,000',
 '17억 2,000~20억',
 '42억~45억',
 '10억 4,000~11억',
 '25억 4,000~28억',
 '15억~16억',
 '24억~30억',
 '65억',
 '15억 7,500~17억',
 '19억 8,000',
 '4억 3,000~4억 5,000',
 '3억 5,000~4억 3,000',
 '8억 2,000~9억',
 '26억~30억 5,000',
 '70억',
 '6억',
 '6억 8,000',
 '53억~66억',
 '52억~66억',
 '59억~67억',
 '63억~78억',
 '75억~120억',
 '115억~150억',
 '175억',
 '15억 8,200',
 '19억 1,400',
 '16억 2,000',
 '41억~48억',
 '21억~25억',
 '17억 1,000~18억',
 '15억 9,000~16억 5,000',
 '7억~8억',
 '14억 7,000~16억',
 '19억 3,000~19억 4,000',
 '29억 5,000~30억 5,000',
 '34억~42억',
 '12억~15억 6,000',
 '12억 3,000~12억 8,000',
 '14억~17억 5,000',
 '14억~18억 3,000',
 '16억~18억 5,000',
 '12억~12억 5,000',
 '14억~16억 7,000',
 '16억~20억 5,000',
 '10억 5,000~12억',
 '12억~14억',
 '12억 5,000~13억',
 '13억 5,000~18억',
 '13억 7,000~19억',
 '13억 8,000~14억 7,000',
 '33억 9,000~36억',
 '75억~80억',
 '14억 2,000~14억 5,000',
 '14억 5,000~15억 3,000',
 '14억 3,000~15억',
 '17억 5,000~18억',
 '16억 4,000~17억 4,900',
 '17억 5,000~18억 5,000',
 '21억 9,000~23억',
 '8억 2,000~9억 5,000',
 '9억 1,000~12억',
 '10억 8,000~12억 5,000',
 '15억~16억 5,000',
 '11억~12억 5,000',
 '13억 3,000~16억 5,000',
 '16억 9,000~18억',
 '9억 4,000~10억',
 '10억~12억',
 '10억 5,000~15억',
 '11억 4,000~12억 5,000',
 '10억 1,000',
 '11억 7,000~13억',
 '17억 2,000~18억 5,000',
 '20억~24억',
 '11억 9,900~13억',
 '17억~20억',
 '63억~65억',
 '63억~72억',
 '130억',
 '8억 9,000~9억 2,000',
 '8억 6,000',
 '32억~40억',
 '45억~53억',
 '50억~53억',
 '53억',
 '53억~58억',
 '37억~44억 5,000',
 '41억~45억',
 '39억~40억',
 '37억~44억',
 '38억~60억',
 '40억~44억',
 '57억~58억',
 '55억~62억',
 '62억',
 '61억~63억 5,000',
 '62억~70억',
 '25억 9,000~30억',
 '55억',
 '53억~63억',
 '39억~43억',
 '34억~37억',
 '65억~72억',
 '40억~43억 8,000',
 '54억',
 '75억~82억',
 '82억',
 '77억~82억',
 '54억~70억',
 '54억~65억',
 '54억~67억',
 '65억~90억',
 '65억~80억',
 '72억~95억',
 '35억~40억',
 '53억~60억',
 '49억~60억',
 '53억~56억',
 '67억~80억',
 '66억~77억',
 '1억 9,500',
 '8억 8,000~11억',
 '8억 8,000~10억',
 '12억 5,000~16억 5,000',
 '29억~31억',
 '45억~49억',
 '41억 9,000~42억',
 '2억 5,000',
 '2억 1,000',
 '2억 2,600',
 '1억 8,000~1억 9,500',
 '1억 9,900',
 '3억 8,500~3억 9,680',
 '37억 8,000~39억',
 '30억 5,000~31억',
 '34억~40억',
 '37억 5,000~38억',
 '38억~38억 5,000',
 '19억~25억',
 '16억~19억',
 '14억 5,000~16억 3,000',
 '16억 3,000~19억',
 '22억~23억 2,000',
 '18억~22억',
 '1억 8,500~2억',
 '2억 7,000',
 '3억 2,000~3억 3,000',
 '4억 5,000~4억 6,000',
 '17억 5,000~18억 3,000',
 '13억~18억 5,000',
 '3억~3억 5,500',
 '3억 9,000~4억',
 '7억~9억 3,000',
 '8억 5,000~9억 3,000',
 '19억 9,000',
 '24억 5,000~29억',
 '22억~22억 5,000',
 '34억 5,000~38억',
 '35억~38억',
 '34억~36억',
 '37억~38억',
 '12억 9,000',
 '11억 5,000~12억',
 '18억~23억',
 '18억 2,600',
 '19억 8,200',
 '23억 100',
 '2억 7,500~3억',
 '5억 4,900~5억 6,000',
 '10억~14억 3,000',
 '5억 7,000',
 '5억 9,000',
 '15억 8,000~19억 5,000',
 '15억 8,000~19억',
 '16억 8,000~18억',
 '1억 7,800',
 '2억 2,000',
 '1억 9,000~3억 3,000',
 '2억 6,500',
 '2억 3,500',
 '2억 9,000',
 '3억 7,000',
 '7억 7,000~8억 3,000',
 '35억 7,000',
 '36억~37억',
 '19억 3,000~21억',
 '26억 4,000~28억',
 '11억 9,000~18억',
 '18억 4,500~20억',
 '9억~9억 5,000',
 '5억 3,000~6억',
 '5억 4,500',
 '5억 9,500',
 '5억 9,000~6억',
 '7억~7억 2,000',
 '6억 6,500',
 '10억~13억',
 '7억 4,000',
 '7억 1,000~7억 5,000',
 '6억~6억 3,000',
 '14억 7,000',
 '25억~26억 5,000',
 '29억 5,000~36억',
 '29억 5,000~33억',
 '18억 4,000~21억',
 '23억 7,000~26억',
 '12억 5,000~15억',
 '3억 6,000~4억 8,000',
 '5억 6,000',
 '1억 8,000',
 '1억 8,000~2억 1,000',
 '2억 2,000~3억 3,500',
 '2억 6,000',
 '22억 3,000~25억',
 '25억~29억',
 '5억~5억 3,000',
 '3억 9,000',
 '5억 1,000~5억 3,000',
 '6억 6,000',
 '3억 500~3억 5,000',
 '3억 8,000~4억 1,000',
 '4억 6,000~4억 8,000',
 '4억 4,000~4억 5,000',
 '4억 4,000~4억 6,000',
 '4억 9,000~5억',
 '33억~38억',
 '8억 7,000',
 '10억 8,000~14억',
 '17억~18억 5,000',
 '20억~25억',
 '29억~29억 5,000',
 '28억 5,000~31억',
 '23억 7,000~31억',
 '24억~31억',
 '18억 3,000~25억',
 '25억 5,000~28억',
 '25억 5,000~26억',
 '33억~36억',
 '18억 7,500~20억',
 '22억~33억',
 '8억 7,000~9억 1,400',
 '11억 5,000~12억 5,000',
 '13억 5,000~13억 7,000',
 '14억~15억 5,000',
 '10억 9,000~14억',
 '9억 5,000~13억',
 '9억 5,000~12억',
 '11억 9,000',
 '12억 5,000~14억',
 '14억~17억',
 '15억 8,000~16억',
 '16억 5,000~17억 5,000',
 '9억 5,000~11억',
 '9억~11억',
 '9억 9,000~13억',
 '11억 9,000~14억 7,000',
 '12억 5,000~17억',
 '11억 8,000~17억',
 '13억 6,000',
 '18억 7,000~20억',
 '17억 8,000~21억',
 '17억 9,000~18억',
 '18억 4,000~23억',
 '18억~21억',
 '105억~160억',
 '25억~42억',
 '19억 2,000',
 '3억 5,000',
 '100억~155억',
 '100억',
 '15억 5,000~17억',
 '21억~30억',
 '30억~39억 5,000',
 '33억~38억 5,000',
 '40억~42억',
 '47억~97억',
 '17억 2,000~18억',
 '114억~150억',
 '88억',
 '88억~92억',
 '23억~26억',
 '15억 3,800',
 '16억~16억 2,200',
 '13억 8,000~14억 5,000',
 '19억 6,000~21억 5,000',
 '26억 8,000~27억',
 '21억~22억 1,000',
 '24억 5,000~26억',
 '53억 5,000~54억',
 '28억~35억',
 '56억~58억',
 '78억~80억',
 '7억 8,000',
 '10억 7,300',
 '30억~38억 5,000',
 '27억~38억',
 '29억 5,000~32억',
 '28억~32억',
 '30억~36억',
 '29억~33억',
 '9억~10억',
 '85억',
 '120억',
 '16억 5,000~19억 5,000',
 '17억 3,000~18억 5,000',
 '2억 3,000~2억 4,000',
 '2억 2,000~2억 5,500',
 '2억 4,000',
 '2억 8,000',
 '7억 9,000',
 '6억 3,000~6억 3,500',
 '7억 6,000',
 '3억 3,000',
 '3억 3,000~3억 5,000',
 '7억 3,000',
 '4억 4,000',
 '4억 8,000~5억',
 '29억~35억',
 '34억~34억 5,000',
 '21억 6,000~22억',
 '15억 9,000~16억 2,000',
 '17억 5,000~22억',
 '17억 4,000~22억',
 '17억 9,000~21억',
 '17억 5,000~20억',
 '29억~34억 5,000',
 '36억~38억',
 '80억',
 '21억~26억',
 '23억 5,000~30억',
 '33억~40억',
 '9억~10억 3,000',
 '9억~10억 1,000',
 '34억~38억',
 '21억~33억',
 '17억 4,000~23억',
 '6억 4,000~8억 5,000',
 '7억 5,000~10억',
 '8억 3,000~9억',
 '8억 7,000~9억',
 '9억 1,000~10억 5,000',
 '8억 5,000~11억',
 '8억 9,000~9억',
 '10억~10억 5,000',
 '9억 5,000~12억 5,000',
 '8억~9억',
 '10억 5,000~11억 5,000',
 '9억 6,000',
 '8억 9,000~10억',
 '8억 8,500~10억',
 '9억 2,000~12억 5,000',
 '8억 5,000~9억',
 '9억~10억 5,000',
 '8억 8,000~10억 5,000',
 '9억~14억',
 '10억 2,950~10억 5,000',
 '13억~14억',
 '11억 2,000~14억 5,000',
 '12억~14억 5,000',
 '11억 7,000~13억 5,000',
 '13억~15억 5,000',
 '15억 5,000~17억 5,000',
 '19억~26억',
 '21억~23억',
 '11억 3,000~13억',
 '11억 9,000~12억 5,000',
 '14억~20억',
 '14억 3,000~16억',
 '14억~15억 8,000',
 '18억 4,000',
 '6억 5,000~8억',
 '9억 7,000~11억 2,000',
 '9억 9,000~15억',
 '10억 5,000~10억 8,000',
 '9억 7,000~10억 5,000',
 '14억~16억',
 '22억~25억 5,000',
 '24억~25억 5,000',
 '8억 8,000~9억 5,000',
 '7억 6,500~8억 2,000',
 '9억 4,000~15억',
 '10억 5,000~14억',
 '14억 6,000~17억',
 '15억~18억',
 '6억 5,000~6억 7,000',
 '9억 8,000~10억 2,000',
 '12억~13억',
 '12억 1,000~12억 3,000',
 '1억~1억 1,500',
 '3억',
 '9,500~1억 3,800',
 '6억 6,500~7억',
 '9억 3,000',
 '9억~9억 6,000',
 '1억 1,000~1억 3,000',
 '1억 500~1억 2,000',
 '1억 1,000~1억 4,500',
 '6억 2,300~6억 5,500',
 '7억 3,800',
 '7억 8,700~8억 2,600',
 '8억 6,700',
 '7억~7억 5,000',
 '3억 7,924',
 '5억 9,484',
 '2억 2,500~2억 3,000',
 '3억 500~3억 2,000',
 '7억 1,000',
 '7억 5,000~8억 5,000',
 '5억~5억 6,000',
 '7억 2,000~7억 5,000',
 '5억 9,000~6억 6,000',
 '7억~7억 9,000',
 '8억 7,000~10억 5,000',
 '8억 5,000~11억 5,000',
 '1억 300~1억 3,500',
 '1억',
 '6억 3,000',
 '7억 5,000~8억',
 '3억 4,000~3억 5,000',
 '3억 3,000~3억 4,000',
 '3억 8,500',
 '4억 5,700',
 '1억 3,000',
 '6억 5,000~6억 9,000',
 '7억 2,000',
 '5억 8,000~6억 8,000',
 '7억~9억 5,000',
 '7억 3,000~8억 2,000',
 '7억 3,000~7억 5,000',
 '7억 2,000~7억 3,000',
 '8억 4,000~8억 5,000',
 '8억 8,000~9억',
 '10억 6,000~12억',
 '11억~12억',
 '10억 3,000',
 '13억 5,000~16억 8,000',
 '15억~21억',
 '4억 2,000~4억 5,000',
 '8억 7,000~9억 5,000',
 '7억 2,000~8억 2,000',
 '4억~4억 1,000',
 '6억 9,000~7억',
 '7억 5,000~7억 9,000',
 '6억 9,000',
 '6억 3,000~8억',
 '1억 500~1억 1,000',
 '1억 1,000~1억 3,500',
 '6억~6억 2,000',
 '5억 9,000~6억 5,000',
 '6억~8억',
 '6억 6,000~7억 8,000',
 '8억 1,000~8억 7,000',
 '10억 2,000',
 '7억 6,000~7억 7,000',
 '7억 8,000~8억 5,000',
 '8억 1,000~9억',
 '1억 2,500~1억 3,000',
 '9,000',
 '8,500~1억 1,000',
 '1억~1억 1,000',
 '8억 9,000~9억 8,000',
 '7억 1,000~7억 3,000',
 '10억~11억',
 '5억 5,000~6억 5,000',
 '16억 8,204',
 '16억 8,204~17억 9,147',
 '7억~8억 6,000',
 '5억~5억 5,000',
 '8억 3,000~8억 7,000',
 '10억 4,000~10억 5,000',
 '11억 2,000~13억 5,000',
 '8억 4,000~9억',
 '12억 5,000~12억 8,000',
 '9억 9,000~10억 5,000',
 '11억 5,000~14억 2,000',
 '11억 5,000~14억',
 '11억 7,000~13억 6,000',
 '14억~17억 3,000',
 '7억 6,000~8억',
 '9억 8,000~10억 8,000',
 '11억 8,000~13억 5,000',
 '9억 3,000~9억 4,000',
 '8억 3,000~9억 1,000',
 '6억 7,000~7억 2,500',
 '7억 7,000~8억 5,000',
 '7억 9,000~8억 5,000',
 '8억 5,000~10억',
 '1억 5,000',
 '1억 5,000~1억 6,000',
 '9억 6,000~12억 7,000',
 '11억~14억 5,000',
 '8억 7,000~9억 7,000',
 '8억 5,000~10억 5,000',
 '9억 9,000~11억',
 '13억~14억 3,000',
 '13억 5,000~14억 5,000',
 '6억 5,000~6억 8,000',
 '9억 6,000~11억',
 '9억 7,000~11억',
 '11억 2,800~12억 5,000',
 '16억 4,000~16억 5,000',
 '7억 1,000~8억',
 '9억~9억 8,000',
 '8억 9,000~11억 4,000',
 '11억 6,500~13억',
 '7억 2,500~8억',
 '13억 6,000~14억 5,000',
 '8억 3,000~8억 5,000',
 '9억 6,500~10억 7,000',
 '11억 5,000~13억 5,000',
 '13억 5,000~17억',
 '15억 6,000~19억 5,000',
 '15억 6,000~19억',
 '9억~9억 2,000',
 '10억 5,000~11억',
 '12억 2,000~14억',
 '15억~15억 5,000',
 '16억 5,000~18억 8,000',
 '7억 3,500',
 '7억 5,000~7억 7,000',
 '7억 5,000~8억 8,000',
 '15억 7,000~17억',
 '8억~8억 5,000',
 '10억 8,000~12억',
 '12억 6,000~15억 5,000',
 '12억 9,000~16억',
 '9억 8,000~12억',
 '9억 3,000~10억 5,000',
 '10억 5,000~13억',
 '12억 7,000~16억',
 '11억 8,000~12억',
 '11억 5,000~14억 5,000',
 '13억 9,000~19억',
 '15억 2,000~17억',
 '19억 5,000~24억',
 '11억 2,000~12억',
 '12억 3,000~13억',
 '13억 9,000~16억',
 '14억 2,000~15억',
 '18억 8,000~20억',
 '7억 8,000~10억',
 '5억 5,000~6억 7,000',
 '7억 2,000~8억 3,000',
 '25억 5,000',
 '26억 3,000',
 '3억 3,800~3억 5,000',
 '5억 8,700~6억 1,000',
 '2억',
 '1억 4,000',
 '8억 1,000',
 '6억 1,000',
 '1억 8,300~1억 9,000',
 '5억 7,000~5억 8,000',
 '9억 9,900',
 '8억 9,000~10억 7,000',
 '9억 5,000~10억 5,000',
 '8억 2,000~8억 7,000',
 '8억 2,000~9억 2,000',
 '9억 2,000',
 '7억 3,000~7억 4,000',
 '19억~27억',
 '8억 4,000',
 '9억 7,000',
 '10억 3,000~11억',
 '11억 2,000~11억 5,000',
 '7억 8,000~9억 6,000',
 '10억 8,000~14억 5,000',
 '13억 5,000~17억 5,000',
 '6억 9,000~7억 7,000',
 '11억~12억 3,000',
 '12억 9,000~15억',
 '13억~15억 6,000',
 '6억 9,000~6억 9,500',
 '8억 3,000~8억 8,000',
 '10억 9,000~13억',
 '6억 2,000~6억 3,000',
 '8억 4,500',
 '5억 9,000~7억',
 '7억 500',
 '2억 5,000~2억 6,000',
 '4억 5,000~5억 3,000',
 '5억 2,000~5억 5,000',
 '5억 1,000',
 '7억 7,000~8억',
 '25억 5,000~27억',
 '8억 8,000~11억 5,000',
 '9억 5,000~10억',
 '8억 3,500',
 '8억 5,000~8억 8,000',
 '7억 4,900~8억 7,900',
 '9억 2,000~10억',
 '11억 6,000~11억 8,000',
 '11억~11억 3,000',
 '12억 9,000~14억',
 '12억 8,000~13억',
 '14억 5,000~16억 8,000',
 '20억~23억',
 '11억 9,000~13억 5,000',
 '13억 5,000~16억',
 '4억 8,000',
 '4억 9,000~7억',
 '6억 6,000~7억 2,000',
 '5억 2,000~7억',
 '7억 2,000~8억 5,000',
 '7억 8,000~8억',
 '6억 9,000~8억 3,000',
 '6억 8,000~7억 5,000',
 '11억 6,000~12억',
 ...]

In [113]:
def process_value(value):
    if pd.isna(value):
        return value
    
    parts = value.split('~')
    if len(parts) == 1:
        print(parts)
        return parts[0].strip()
    else:
        sub_parts = [part.strip() for part in parts]
        if len(sub_parts) == 2:
            return sub_parts
        else:
            return value


price_df['매매호가'] = price_df['매매호가'].apply(process_value)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [109]:
price_df['매매호가']

4               [17억, 18억]
5         [18억 8,000, 21억]
6               [20억, 22억]
7               [22억, 25억]
8         [23억 5,000, 28억]
                ...
106012            2억 4,000
106013            2억 6,000
106014      [3억, 3억 5,000]
106015                 NaN
106016                 NaN
Name: 매매호가, Length: 52186, dtype: object